body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
}

canvas {
    border: 1px solid #000;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
}

button:hover {
    background-color: #333;
}

body.dark-mode {
    background-color: #121212;
}

body.dark-mode canvas {
    border-color: #fff;
}

body.dark-mode button {
    background-color: #fff;
    color: #000;
}

body.dark-mode button:hover {
    background-color: #ddd;
}

@media (max-width: 900px) {
    canvas {
        width: 90vw;
        height: auto;
        border-width: 2px;
    }

    button {
        padding: 8px 16px;
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    canvas {
        width: 80vw;
        height: auto;
        border-width: 1px;
        margin-bottom: 20px;
    }

    button {
        padding: 6px 12px;
        font-size: 12px;
        margin-top: 10px;
    }
}

@media (max-width: 400px) {
    canvas {
        width: 75vw;
        border-width: 0.5px;
    }

    button {
        padding: 4px 8px;
        font-size: 10px;
    }
}